// Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --spacez-font-family-body: "Noto Sans", sans-serif;
  --spacez-font-family-headings: "Roboto", sans-serif;
  --spacez-font-weight-headings: 400;
  --spacez-font-weight-normal: 400;
}
