// Variables modified for SpaceZ theme

// Color system

// scss-docs-start color-variables
$white:    #fdfefa !default;
$blue:		#223fcc !default;
$indigo:  #2200aa !default;
$purple:  #223366 !default; 
$green:		#227700 !default;
$cyan:		#0077bb !default;
$muted: #495057 !default;
// scss-docs-end color-variables


// scss-docs-start theme-color-variables
$primary:				$indigo !default;
$dark:				  $purple !default; 
// scss-docs-end theme-color-variables


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                true  !default;
$enable-rounded:              true  !default;
$enable-shadows:					    false !default;
$enable-gradients:						false !default;
$enable-transitions:				  true !default;
$enable-reduced-motion:				true !default;
$enable-smooth-scroll:				true !default;
$enable-grid-classes:				  true !default;
$enable-button-pointers:		  true !default;
$enable-rfs:								  true !default;
$enable-validation-icons:		  true !default;
$enable-negative-margins:		  false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:										$white !default;

// Links
//
// Style anchor elements.

$link-decoration:												 null !default; 
$link-shade-percentage:										20% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:		.5em !default; 


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:						1.6% !default;


// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width:								2px !default;

// scss-docs-end border-variables

// scss-docs-start border-radius-variables
$border-radius:								.25rem !default;
$border-radius-sm:						.2rem !default;
$border-radius-lg:						.3rem !default;
$border-radius-pill:				  50rem !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// $font-size-base affects the font size of the body text

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$font-weight-lighter:				  lighter !default;
$font-weight-light:						300 !default;
$font-weight-normal:				  400 !default;
$font-weight-bold:						600 !default;
$font-weight-bolder:				  bolder !default;

$h1-font-size:								$font-size-base* 2 !default;
$h2-font-size:								$font-size-base* 1.5 !default;
$h3-font-size:								$font-size-base* 1.5 !default;
$h4-font-size:								$font-size-base* 1.25 !default;
$h5-font-size:								$font-size-base* 1.25 !default;
$h6-font-size:								$font-size-base !default;

// scss-docs-end font-variables

// scss-docs-start headings-variables
$headings-margin-bottom:		  $spacer* .5 !default;
$headings-font-family:				null !default;
$headings-font-style:				  null !default;
$headings-font-weight:				500 !default;
$headings-line-height:				1.2 !default;
$headings-color:						  null !default;
// scss-docs-end headings-variables

// scss-docs-start type-variables

$text-muted:								  $muted !default;

// scss-docs-end type-variables


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables

$btn-font-weight:						$font-weight-bold !default;
$btn-box-shadow:						inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba(0,0,0, .075) !default;

// scss-docs-end btn-variables


// Breadcrumbs

// scss-docs-start breadcrumb-variables
$breadcrumb-font-size:						 null !default;
$breadcrumb-padding-y:						 0 !default;
$breadcrumb-padding-x:						 0 !default;
$breadcrumb-item-padding-x:				 .5rem !default;
$breadcrumb-margin-bottom:				 1rem !default;
$breadcrumb-bg:										 null !default;
$breadcrumb-divider-color:				 $muted !default;
$breadcrumb-active-color:          $muted !default;
$breadcrumb-divider:							 quote(">") !default;
$breadcrumb-divider-flipped:			 $breadcrumb-divider !default;
$breadcrumb-border-radius:				 null !default;
// scss-docs-end breadcrumb-variables

$card-border-radius: 0px;
$card-border-width: 0px;
$card-bg: #f0f0f0;

$fundacja-svg:										 url("data:image/svg+xml,<svg width='97' height='194' version='1.1' viewBox='0 0 97 194' xmlns='http://www.w3.org/2000/svg'> <style>.a{fill:#81b0bb;} .b{fill:#c9c5c5;}</style> <path class='b' d='m93 45.4-89 16.4v131.35l44.599-0.3 0.099331-100.85 44.301-8.1z'/><circle class='a' cx='27.5' cy='26.5' r='25.5'/><path class='a' d='m93.6 99.4-89.6 16.4v38.5l89.6-16.3z'/></svg>");
