// Footer

.footer {
  margin-top: $spacez-grid-gutter;
  color: $white;
  background-color: var(--spacez-color-primary);

  .grid-child {
		align-items: center;
		justify-content: space-between;
		padding: 2.5rem ($spacez-grid-gutter/2);
  }

  a {
		color: currentColor;
  }

  [dir=rtl] & {
		background-image: $spacez-header-grad-rtl;
  }

  .mod-menu {
		position: relative;
  }

  @if $metismenu==true {
		.metismenu.mod-menu {
		  .mm-collapse {
				background: var(--spacez-color-primary);
		  }
		}
  }

  @include media-breakpoint-down(md) {
		.grid-child {
		  flex-direction: column;

		  .mod-footer {
				margin: .375rem 0;
		  }
		}
  }
}
